.form-wrap{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(000, 000, 000, 0.5);
    z-index: 99;
}
.dialogForm{
    background-color: white;
    padding: 25px;
}
.mat-card {
    width: 80%;
    padding: 15px;
    margin: 15px auto;
}

input {
    outline: none
}

.mat-card>input{
    width: 100%;
    padding-left: 5px;
    font-size: 18px;
}

.mat-card label{
    cursor: pointer;
}
.form-control{
    height: 30px;
    border-radius: 5px;
}

textarea{
    width: 100%;
    height: 100px;
    resize: none
}

.alert{
    padding: 10px;
    margin: 10px auto;
    border: 2px solid red;
    border-radius: 5px;
    background-color: plum;
}