<div class="form-wrap">
<form class="dialogForm" [formGroup]="newsForm" novalidate>
  <md-card>
  <label for="health">
    Health
    <input id="health" type="radio" name="newCategory" value="health" formControlName="newCategory" checked="checked"> 
  </label>
  <label for="life">
    Life
    <input id="life" type="radio" name="newCategory" value="life" formControlName="newCategory" > 
  </label>
  <label for="food">
    Food
    <input id="food" type="radio" name="newCategory" value="food" formControlName="newCategory" > 
  </label>
  </md-card>

  <md-card>
    <input class="form-control" name="img" formControlName="newImage" placeholder="Put here image url" />
    <div class="alert" *ngIf="newsForm.controls['newImage'].invalid && newsForm.controls['newImage'].touched">
      Put the url - before create
    </div>
  </md-card>

  <md-card>
    <textarea placeholder="Description for New" formControlName="newDescription"></textarea>
    <div class="alert" *ngIf="newsForm.controls['newDescription'].invalid && newsForm.controls['newDescription'].touched">
      Write some description - it's better for you're news ! ;)
    </div>
  </md-card>

  <button md-raised-button color="primary" [disabled]="newsForm.invalid" (click)="dataForNew()">Create New</button>
  <button md-raised-button (click)="closeForm()">Close</button>
</form>
</div>