<md-card *ngFor="let news of foodNews | categoryfilter: foodFilter">
  <img md-card-image src="{{ news.img }}" alt="wrapImg" />
  <md-card-content>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="likeMe(news.id)">
          <i class="material-icons md-18" [class.red-color]="news.liked == '1'">favorite</i> Like it!
        </button>
    <button md-button (click)="deleteMe(news.id)">
          <i class="material-icons md-18" >delete</i> Delete
        </button>
  </md-card-actions>
</md-card>