<md-card *ngFor="let news of lifeNews | categoryfilter: lifeFilter">
  <img md-card-image src="{{ news.img }}" alt="wrapImg" />
  <md-card-content>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="likeMe(news.id)">
          <i class="material-icons md-18" [class.red-color]="news.liked == '1'">favorite</i> Like it!
        </button>
    <button md-button (click)="deleteMe(news.id)">
          <i class="material-icons md-18" >delete</i> Delete
        </button>
  </md-card-actions>
</md-card>