<md-toolbar color="primary">
  <span>News</span>
  <span class="spacer"></span>
  <button md-button (click)="openDialog()">Add New</button>
</md-toolbar>

<md-tab-group>
  <md-tab label="Health">
    <app-health [healthNews]="newsList" (onDelete)="onDelete($event)" (onLike)="onLike($event)"></app-health>
  </md-tab>
  <md-tab label="Life">
    <app-life [lifeNews]="newsList" (onDelete)="onDelete($event)" (onLike)="onLike($event)"></app-life>
  </md-tab>
  <md-tab label="Food">
    <app-food [foodNews]="newsList" (onDelete)="onDelete($event)" (onLike)="onLike($event)"></app-food>
  </md-tab>
</md-tab-group>

<app-form-news *ngIf="showDialog" (onCreateNews)="onCreateNews($event)" (closeDialog)="closeDialog($event)"></app-form-news>   