<md-card *ngFor="let news of healthNews | categoryfilter: healthFilter">
  <img md-card-image src="{{ news.img }}" alt="wrapImg" />
  <md-card-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="likeMe(news.id)">
          <i class="material-icons md-18" [class.red-color]="news.liked == '1'">favorite</i> Like it!
        </button>
    <button md-button (click)="deleteMe(news.id)">
          <i class="material-icons md-18" >delete</i> Delete
        </button>
  </md-card-actions>
</md-card>